# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:<br>
List popular languages for Data Science
<ul>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Scala</li>
<li>java</li>
<li>julia</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>matpoltlib</li>
    <li>pandas</li>
    <li>numpy</li>
    <li>scipy</li>
</ol>

|Data Science Tools|
|:-|
|MySQL|
|Apache AirFlow|
|Hue|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>

Thirugnanam